head {
    font-size: 22px;
}
body {
    background-color: #333;
    color: whitesmoke;
}

a {
    color: aliceblue;
}

a:visited {
    color: lightgray;
}

a:hover, a:active {
    color: #eee;
}

h1 {
    color: aquamarine;
}
h1:hover {
    color: aqua;
}

h2 {
    color: aquamarine;
}
 h2:hover {
    color: aqua;
 }

 table, tr, th, td, caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
 }
